@import url(https://fonts.googleapis.com/css?family=Lato);

.navbar-static-top {
  margin-bottom: 19px;
  background:transparent;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ebebeb;
  font-family: 'Lato', sans-serif, Helvetica, Arial;
}

/* Main marketing message and sign up button */
.jumbotron {
  width: 100%;
  margin: 0px auto;
  border: 1px solid #ECECEC; 
  border-top: 3px solid #c72323;
  padding-top: 0px;
  background-image:url('');
  background-color:#fafafa;
  background-repeat:no-repeat;
  box-shadow: 0 0 5px 5px rgba(160,160,160,0.05);
  /*background-position:center;*/
}
.footer {
  margin: 5px auto;
  width: 100%;
  color: #777;
  /*border-top: 1px solid #e5e5e5;*/
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
  background-color: #F2F2F2;
  color: #000;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato';
}
p, div {
  font-family: 'Lato'; 
}

.jumbotron p{
  font-size:1em;
}

.navbar-nav {
  text-align:center;
} 


