.navbar-static-top {
  margin-bottom: 19px;
  background:transparent;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Main marketing message and sign up button */
.jumbotron {
  width: 100%;
  margin: 0px auto;
  border-bottom: 1px solid #F2F2F2;
  padding-top: 0px;
  background-image:url('');
  background-color:#f9f9f9;//#F6F6F6;
  background-repeat:no-repeat;
  /*background-position:center;*/
}
.footer {
  margin: 0px auto;
  width: 100%;
  color: #777;
  /*border-top: 1px solid #e5e5e5;*/
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
  background-color: #e5e5e5;
  color: #000;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}
p, div {
  font-family: 'Lato Light 300', sans-serif;
}

.jumbotron p{
  font-size:1em;
}

.navbar-nav {
  text-align:center;
} 

